body {
    background-color: #060809;
    color: #f0f7fa;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1300px;
    margin: auto;
}

#logo {
    display: flex;
    width: 20%;
    z-index: 100;
    justify-content: flex-start;
    align-items: center;
}
.sub {
    margin-top: -15px;
}
.container {
    display: flex;
    justify-content: initial;
    flex-direction: initial;
    align-items: initial;
}
.menu {
    gap: 50px;
    flex-direction: row;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
}
.receita {
    padding: 20px;
    background-color: rgba(82, 82, 82, 0.164);
    flex-direction: column;
    gap: 0px;
    width: 20%;
    line-height: 0px;
    border-radius: 20px;
}
.flex {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
.contreceita {
    font-size: 28px;
    border-radius: 15px;
    text-decoration: none;
    color: inherit;
}
.nav {
    z-index: 10;
    font-size: 24px;
    white-space: nowrap;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    transition: color 200ms;
}
.nav:hover {
    color: #5FBF8F;
}
#active {
    color: #4FB886;
}
#gradient {
    background: -webkit-linear-gradient(0deg, #46AF7C 0%, #7CCBA3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav {
    z-index: 10;
    margin-top: 0px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    width: 100%;
    padding: 10px 0;
    line-height: 30px;
    gap: 20px;
}
#title {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 70vh;
    line-height: 40px;
}
#titulo {
    gap: 10px;
    display: flex;
    width: 55%;
    justify-content: center;
    flex-direction: column;
    line-height: 1em;
}
button {
    font-size: 21px;
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    color: rgb(0, 0, 0);
    background-color: #4FB886;
    border: 0;
    border-radius: 20px;
    width: 200px;
    height: 55px;
    margin-left: -2px;
    transition: background-color 200ms ease;
}
#receitas {
    padding-top: 20px;
    font-size: 45px;
    font-weight: 600;
    width: 100%;
}
button:hover {
    background-color: #5FBF8F;
}
.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 48%;
    padding: 20px;
    gap: 0px 0px;
}
.imgsobre {
    width: 40%;
}
#titsobre {
    line-height: 10px;
    font-size: 50px;
    font-weight: 600;
}
#txtsobre {
    font-size: 24px;
    line-height: 1.5em;
    width: 90%;
}
#image {
    display: flex;
    width: 30%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#capa {
    width: 70%;
}
img {
    width: 100%;
}
h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 30px;
}
h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
    width: 90%;
}
h3 {
    font-size: 38px;
    font-weight: 600;
}
h4 {
    font-size: 28px;
    line-height: 10px;
}
li {
    font-size: 20px;
    line-height: 40px;
}
p {
    font-size: 18px;
    line-height: 25px;
}
div {
    margin-top: 20px;
    margin-bottom: 20px;
}
video {
    border-radius: 20px;
}
footer {
    text-align: center;
    background-color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: -30px;
    font-size: 18px;
    flex-grow: 1;
}

/*Parte que foi copiada de https://www.digitalocean.com/community/tutorials/css-collapsible, o resto foi original*/
.wrap-collabsible {
    margin-bottom: 1.2rem 0;
}
  
input[type='checkbox'] {
    display: none;
}
  
.lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
  
    padding: 1rem;
  
    color: white;
    background: #000000;
  
    cursor: pointer;
  
    border-radius: 7px;
    transition: all 0.2s ease;
}
  
.lbl-toggle:hover {
    color: #374dbe;
}
  
.lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
}
  
.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
  
.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}
  
.toggle:checked + .lbl-toggle + .collapsible-content {
    min-height: 300px;
    max-height: max-content;
}
  
.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.collapsible-content .content-inner {
    background: rgba(22, 22, 22, 0.2);
    border-bottom: 1px solid rgba(66, 167, 250, 0.45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}  